body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    color: #333;
}
header {
    background-color: #FF6F61;
    color: white;
    padding: 20px;
    text-align: center;
    position: relative;
}
header img {
    position: absolute;
    top: 20px;
    left: 200px;
    width: 150px; /* Adjust size as needed */
    height: 110px;
    border-radius: 10%;
    border: 3px solid white; /* Optional: add border around image */
}
main {
    padding: 20px;
}
.document-list {
    list-style-type: none;
    padding: 0;
}
.document-item {
    background-color: white;
    margin: 10px 0;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.document-item h2 {
    margin: 0;
    color: #FF6F61;
}
.document-item p {
    font-size: 14px;
    color: #555;
}
.document-item a {
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;
}
.document-item a:hover {
    text-decoration: underline;
}
.pagination {
    text-align: center;
    margin-top: 20px;
}
.pagination button, .pagination select {
    padding: 10px 15px;
    margin: 0 5px;
    background-color: #FF6F61;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.pagination button:disabled, .pagination select:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}
select {
    background-color: #f9f9f9;
    color: #333;
    border: 1px solid #ccc;
}